.card__media {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	filter: blur(0);
	padding-top: 10px;
	transform-origin: center bottom;
	transition: transform 800ms ease-out, filter 800ms ease-out;
}