.personalization-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  height: auto;
  align-items: center;
  flex-direction: column;
  background-color: #011E3C;

}

.personalization-page-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}

.personalization-page-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;

}

.personalization-page-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1%;
}

.personalization-page-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1.5%;
}

#bg1 {
  background-image: url('../../Assets/personalizationBG.jpg');
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: 100% 100%;
  background-position: center;
}