.welcome-page-container {
    width: 100%;
    display: flex;
    height: auto;
    min-height: 100vh;
    overflow: hidden;
    flex-direction: column;
    background-color: #011E3C;
  }
  .welcome-page-container0{
    flex: 0 0 auto;
    width: 100%;
    color: #ffffff;
    margin-bottom: 2%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    overflow: hidden;
  }

  .welcome-page-container1 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: auto; 
    overflow: hidden;
  }
  #bg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('../../Assets/welcomeBG.jpg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 100% 100%;
    opacity: 1;
    width: 100%;
    height: auto;
    opacity: 0.4;
    z-index: -2;
  }
  @media(max-width: 1600px) {
   
  }
  