.itinerary-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  background-color: #011E3C;

}
.itinerary-page-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  height: auto;
  align-items: flex-start;
  flex-direction: column;
  background-color: #011E3C;
}
.itinerary-page-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.itinerary-page-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}