.signup-page-container {
    width: 100%;
    display: flex;
    overflow: hidden;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background-color: #65b4ce2a;

  }
  .signup-page-container1 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
  }
  .signup-page-logo {
    width: 10%;
    height: 10%;
    display: flex;
    align-items: left;
    justify-content: left;

  }
  .signup-page-container2 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .signup-page-container6 {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    align-self: flex-end;
    align-items: flex-start;
  }

 .signup-page-background{
    background-image: url('../../Assets/signUpBG.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left;
    background-color: #65b4ce14;
    
 }
 .signup-page-container3 {
    flex: 0 0 auto;
    width: 30%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .signup-page-container4 {
    flex: 0 0 auto;
    width: auto;
    height: 60%;
    border-radius: 15px;
    display: flex;
    align-items: flex-start;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center top; 
    display: "center";
    justify-content: center;
    text-align: center;
    align-self: center;
    margin-top: 1%;
  }
 
  .signup-page-container5 {
    flex: 0 0 auto;
    width: 30%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  @media(max-width: 1600px) {
    .signup-page-container3 {
      width: 30%;
      height: 100%;
    }
    .signup-page-container4 {
      width: 40%;
      height: auto;
    }
    .signup-page-container5 {
      width: 30%;
      height: 100%;
    }
  }
  